@use "sass:list";
@use "../01_utilities/index" as utilities;

$text-colors: utilities.$text-colors;
$medidor-colors: utilities.$medidor-colors;
$background-colors: utilities.$background-colors;

:root {
  @for $i from 1 through list.length($background-colors) {
    --mlt-sys-color-background-#{$i}: #{list.nth($background-colors, $i)};
  }

  @for $i from 1 through list.length($text-colors) {
    --mlt-sys-color-text-#{$i}: #{list.nth($text-colors, $i)};
  }

  @for $i from 1 through list.length($medidor-colors) {
    --mlt-sys-color-medidor-#{$i}: #{list.nth($medidor-colors, $i)};
  }
}