@use "sass:map";
@use "../01_utilities/index" as utilities;

$font-families: utilities.$font-families;

:root {
    @each $name, $family in $font-families {
        --mlt-sys-font-family-#{$name}: #{$family};
    }
}