<div class="c-article g--width-2">
    <img src="{{imageUrl}}" alt="image" class="c-article__main-image">
    <h3 class="c-article__name">{{name}}</h3>
    
    <p class="c-article__prices">
        <span class="c-article__price c-article__price--current">{{currentPrice | currency}}</span>
        &nbsp;
        @if (previousPrice != currentPrice) {
            <span class="c-article__price c-article__price--old">{{previousPrice | currency}}</span>
        }
    </p>

    <p class="c-article__ratings">
        <span class="c-article__rating">{{rating}}</span>
        <span class="c-article__ratings-icon">⭐</span>
        <span class="c-article__review-count">{{reviewCount}}</span>
    </p>

    <p class="c-article__shipping">
        🚚
        @if (deliveryPrice <= 0) {
            <span class="c-article__price c-article__price--shipping">Envio gratis</span>
        }

        @if (deliveryDate.toDateString() != tomorrow.toDateString()) {
            <span class="c-article__delivery-date">Recibir el {{deliveryDate | date: "fullDate"   }}</span>
        } @else {
            <span class="c-article__delivery-date">Entrega mañana</span>
        }
    </p>

    @if (otherShippingOptions) {
        <p class="c-article__other-shipping">Otras opciones disponibles</p>
    }
</div>
