$paddings:(2px, 4px, 8px, 16px, 24px, 32px);
$font-sizes:(12px, 14px, 16px, 20px, 24px, 32px, 48px);
$border-radiuses:(2px, 4px, 8px, 16px);
$flex-gaps:(4px, 8px, 16px, 32px);
$heights:(16px, 24px, 32px, 48px, 64px, 80px, 96px, 128px);
$widths:(16px, 24px, 32px, 48px, 64px, 80px, 96px, 128px, 256px, 512px, 725px, 1024px);
$font-weights:(300, 400, 500, 600, 700);
$margins:(2px, 4px, 8px, 16px, 32px);

$medidor-colors: (
  #0045a6,
  #73cee6
);

$text-colors: (
  #808080
);

$background-colors: (
  #f2f2f2
);


