.p-dashboard {

  --global-padding: var(--mlt-sys-padding-8); ;

  padding: var(--global-padding);
  display: flex;
  flex-direction: column;
  gap: 32px;

  &__top {
    display: flex;
    gap: 32px;
  }

 
}
