:host {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 2px solid var(--exam-border-color);
  background-color: #fff;
  color: #0f172a;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 2px rgba(15, 23, 42, 0.05);
}
