:host {
  --medidor-font-weight-title: var(--mlt-sys-font-weight-4);
  --medidor-color-bar-primary: var(--mlt-sys-color-medidor-1);
  --medidor-color-bar-secondary: var(--mlt-sys-color-medidor-2);
  --medidor-color-text: #0f172a;
  --medidor-color-text-muted: var(--exam-color-text-gray);
  --medidor-font-size-title: var(--mlt-sys-font-size-3);

  display: flex;
  flex-direction: column;
  gap: 8px;
}

.c-medidor__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 16px;
}

.c-medidor__text {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.c-medidor__title {
  font-weight: var(--medidor-font-weight-title);
  color: var(--medidor-color-text);
}

.c-medidor__subtitle {
  color: var(--medidor-color-text-muted);
  font-size: var(--medidor-font-size-title);
}

.c-medidor__percentages {
  display: flex;
  gap: 2px;
  color: var(--medidor-color-text);
  font-weight: 600;
}

.c-medidor__bar {
  position: relative;
  display: flex;
  width: 100%;
  height: 18px;
}

.c-medidor__bar-part {

  &--primary {
    background-color: var(--medidor-color-bar-primary);
  }

  &--secondary {
    background-color: var(--medidor-color-bar-secondary);
  }
}
