<div class="c-medidor__header">
  <div class="c-medidor__text">
    <p class="c-medidor__title">{{ title }}</p>
    <p class="c-medidor__subtitle">{{ subtitle }}</p>
  </div>

  <div class="c-medidor__percentages">
    <span class="c-medidor__percentage">{{ leftPercent }}%</span>
    <span class="c-medidor__percentage">{{ rightPercent }}%</span>
  </div>
</div>

<div class="c-medidor__bar">
  <div
    class="c-medidor__bar-part c-medidor__bar-part--primary"
    [style.width.%]="leftPercent">
  </div>
  <div
    class="c-medidor__bar-part c-medidor__bar-part--secondary"
    [style.width.%]="rightPercent">
  </div>
</div>
